
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
hr{
  width: 100%;
}

img{
  border-radius: 50%;
  width: 15em;
  align-self: center;
  height: 15em;
}
h1.my-name{
font-family: 'Bebas Neue', cursive !important ;
  font-size: 65px;
  margin-bottom: 0;
}

p{
  font-size: 18px;
}

.about{
  font-size: 64px;
  font-family: monospace;
}
