<footer class="footer">
  <div class="flex-wrap">
  © {{ now.Format "2006" }} {{ .Site.Params.author }}, Built with
  ❤️
  by
  <a href="https://github.com/lucifer1708" style="text-decoration: underline;" class="footerLink">Lucifer</a> 
  </div>
  <hr style="width: 54%;">
  <a href="http://ngwpxynmepq3j4a6oqhnp3ltcvmk7lxmdutpcfidudzqoswzxu7jgtid.onion" style="text-decoration: underline;" class="footerLink">View on Tor </a>
</footer>

{{$cursorjs:=resources.Get "js/cursor.js" }}
<script src="{{ $cursorjs.RelPermalink}}">
  
</script>
