<header>
  <nav class="navbar">
    <div class="navbar-container container">
      <input type="checkbox" name="" id="">
      <div style="color: white;" class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <ul class="menu-items">

        {{ range .Site.Menus.header }}
        <li><a class="link" href="{{ .URL | absURL }}" title="{{.Title}}">{{- .Name -}}</a></li>
        {{ end }}
      </ul>
      <h1 class="logo"> <a class="logo-link" href="/">lucifer@portfolio ~ $</a></h1>
    </div>
  </nav>
</header>

<div class="cursor"></div>
<div class="cursor2"></div>
