{{/* Config */}}
{{ $switches := (dict
"facebook" true
"twitter" true
"linkedin" true
"whatsapp" true
"mail" true
) }}
{{ $color := "#d5d5d5" }}
{{ $textcolor := "#bbb" }}
{{ $hoverColor := "#444444" }}

{{/* Code */}}
{{ $url := printf "%s" .Permalink | absLangURL }}
{{ $textBody := print .Title "\n\n" (.Description) "\n\n" $url "\n" }}
{{ $encodedSummary := strings.TrimPrefix "=" (querify "" (.Summary | truncate 70)) }}
<nav class="sharebuttons">
  <span style="font-size: 19px; font-weight: bolder;">Share on:</span>
  <ul>
    {{ if $switches.facebook }}<li><a href="https://www.facebook.com/sharer.php?u={{ $url }}&t={{ .Title }}"
        target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a></li>{{ end }}
    {{ if $switches.twitter }}<li><a href="https://twitter.com/share?text={{ .Title }}&url={{ $url }}" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      </a></li>{{ end }}
    {{ if $switches.linkedin }}<li><a
        href="https://www.linkedin.com/shareArticle?mini=true&url={{ $url }}&title={{ .Title }}&summary={{ $encodedSummary }}"
        target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a></li>{{ end }}
    {{ if $switches.whatsapp }}<li><a href="whatsapp://send?text={{ $textBody }}" target="_blank">
        <i class="fa-brands fa-whatsapp"></i>
      </a></li>{{ end }}
    {{ if $switches.mail }}<li><a href="mailto:?subject={{ .Title }}&body={{ $textBody }}" target="_blank">
        <i class="fa-solid fa-envelope"></i>
      </a></li>{{ end }}
  </ul>
</nav>
<style>
  i {
    font-size: 29px;
    color: white;
    transition: all 0.5s;
  }

  i:hover {
    color: #ff0046;
    transition: all 0.5s;
  }
  .sharebuttons,
  .sharebuttons ul {
    display: flex;
    margin: 0.25rem 0;
    align-items: center;
    padding-left: 5px;
    gap: 15px;
  }


  .sharebuttons span {
    color: {
        {
        $textcolor
      }
    }

    ;
  }

  .sharebuttons ul li {
    list-style: none;
    margin: 0;
  }

  .sharebuttons ul li a {
    margin: 0 0.5rem;
    display: block;
  }

  .sharebuttons ul li:first-child a {
    margin: 0 0.2rem 0 0.5rem;
  }

  .sharebuttons ul li a svg {
    width: auto;
    height: 1.1rem;
    display: block;
  }

  .will-change {
    transition: 250ms;
  }

  nav.sharebuttons li>a:hover .will-change {
    fill: {
        {
        $hoverColor
      }
    }
  }
</style>
