<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
     <title>
          About | {{ .Site.Params.author }}
     </title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

     {{ $style := resources.Get "sass/about.css" }}

     <link href="{{ $style.RelPermalink }}" rel="stylesheet">

     {{ partial "head.html" . }}
     <style>
          @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

          p {
               font-size: 23px;
               font-family: 'Mukta', 'sans serif';
          }

          .image-profile {
               box-shadow: 10px 5px 15px rgba(255, 255, 255, 0.12), 10 5px 15px rgba(255, 255, 255, 0.24);
               transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
          }

     </style>

</head>

<body>

     <div class="flexWrapper">
          {{ partial "header.html" . }}

          <div class="content vertical">
               <h1>About Me</h1>
               <hr>
               <br>
               <img class="image-profile" loading="lazy" src="{{ .Params.img }}" alt="">
               <h1 class="my-name">I'm <span
                         style="text-decoration: underline; text-decoration-color: #ff0046; text-decoration-thickness: 10px;">Sumit
                         Dhiman</span></h1>
               {{ .Content }}
               <hr>
               {{ partial "social.html" .}}
          </div>
          {{ partial "footer.html" . }}
     </div>
</body>

</html>
